{% extends 'pages/base.html' %}
{% block body %}


		{% load el_pagination_tags %}
		{% with entry_list as e %}
			{% lazy_paginate e %}


  		{% for entry in entries %}
  		<div class="content">

  			<img class="avatar" src="/static/Images/s1.jpg" alt="dp">
  			<h1>&nbsp&nbsp {{ entry }} </h1>
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  			<img class="post" src="/static/Images/s1a1.jpg" alt="dp">
  		</div>

		{% endfor %}
		{% show_more %}

		{%endwith %}

{% endblock %}
	<!--</body>-->
<!--</html>-->
